<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<!-- With the new Java8 App Engine, I could not get the pretty JAX-RS stuff 
		working. So just roll with a Bog Standard Servlet. -->
	<servlet>
		<servlet-name>Jolt Servlet</servlet-name>
		<servlet-class>com.bazaarvoice.jolt.JoltServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jolt Servlet</servlet-name>
		<url-pattern>/transform</url-pattern>
	</servlet-mapping>	

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
